* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #edeef0;
  height: 100%;
}

/* CourseCard */

.course-card--container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 150px;
  height: 100vh;
  gap: 30px;
}

.course-card {
  background-color: #1d7388;
  width: 300px;
  height: 300px;
  border: 1px solid gray;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.course-card--top {
  margin-bottom: -60px;
  color: white;
  font-family: sans-serif;
}

.course-card--top h2 {
  font-weight: 500;
}

.course-card--middle {
  color: white;
  font-family: sans-serif;
}

.course-card--middle h3 {
  font-weight: 280;
}

.course-card--middle p {
  font-weight: 200;
}

.course-card--button {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* CourseInfo */

.course-info--container {
  background-color: #223b50;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 150px;
}

.course-info--container h1,
h2,
p {
  color: white;
  font-family: sans-serif;
}

.course-info--container h1 {
  font-weight: 530;
  margin-bottom: 10px;
}

.course-info--container h2 {
  font-weight: 400;
  margin-bottom: 5px;
}

.course-info--container img {
  width: 100%;
  border-radius: 4px;
}

.img-wrapper {
  width: 40%;
  margin-bottom: 5px;
}

.course-info--price {
  margin-bottom: 50px;
}
